<div th:fragment="searchpage(model)">

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form>
					<div class="form-group">
						<label for="course_id">Course Ids</label>
						<input type="text" class="form-control" id="course_id" placeholder="Enter the list of course ids">
					</div>
					<div class="form-group">
						<label for="targetText">Text to Find</label>
						<input type="text" class="form-control" id="targetText" placeholder="Insert text">
					</div>
					<div class="form-group">
						<label for="updatedText">Replace With</label>
						<input type="text" class="form-control" id="updatedText" placeholder="Insert text">
					</div>
                    <button type="button" class="btn btn-primary" onclick="findAndReplace(
                        document.getElementById('course_id').value,
                        document.getElementById('targetText').value,
                        document.getElementById('updatedText').value
                    )">Submit</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"
					th:if="${!#lists.isEmpty(model.matchingPages)}"
					th:each="matchingPage, iterStat : ${model.matchingPages}">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" th:attr="id='heading' + ${iterStat.index}">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" th:attr="href='#collapse' + ${iterStat.index}"
									aria-expanded="true" aria-controls="'collapse' + ${iterStat.index}">
									<span th:text="'Course Id: ' + ${matchingPage.courseId}"></span><br>
									<span th:text="'Course Name: ' + ${matchingPage.courseName}"></span>
								</a>
							</h4>
						</div>
						<div th:attr="id='collapse' + ${iterStat.index}" class="panel-collapse collapse in"
							role="tabpanel" aria-labelledby="'heading' + ${iterStat.index}">
							<div class="panel-body">
								<table class="table table-bordered">
									<thead>
										<tr>
											<th>Page Name</th>
											<th>occurrence</th>
										</tr>
									</thead>
									<tbody th:each="pageInfo : ${matchingPage.pageInfoList}">
										<tr>
											<td><a th:href="${pageInfo.redirectUrl}" target="_blank"
													th:text="${pageInfo.pageTitle}"></a></td>
											<td th:text="${pageInfo.occurences}"></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>